@import "_variables";
@import "_typography";

html {
  height: 100%;
}

body {
  @include radial-gradient($light-blue, $blue);

  background-attachment: fixed;
}

input {
  outline: none;
  box-shadow: none;
}

.container {
  @include outer-container;

  max-width: 50%;
  padding: em(40px) 0;

  @include media($tablet) {
    max-width: 75%;
  }

  @include media($mobile) {
    max-width: 90%;
  }

  &__title {
    color: $white;
    text-align: center;
  }
}

.fullscreen-container {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);

  width: 100%;
  height: 100vh;
}

.notice {
  margin: 20px 0;
  font-size: em(30px);
  font-weight: $bold-weight;
  color: $white;
  text-align: center;

  &--loading {
    @include animation(loading-timeline .5s $ease-in-quad alternate infinite);
  }
}

@include keyframes(loading-timeline) {
  from {
    opacity: .15;
  }
  to {
    opacity: 1;
  }
}
