@import "neat-helpers";

$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1200px;

$visual-grid: false;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: .15;

$tablet: new-breakpoint(max-width 980px 8);
$mobile: new-breakpoint(max-width 540px 4);
