// Typography
$base-font: "Open Sans", Helvetica, sans-serif;
$base-font-size: 16px;

$light-weight: 300;
$normal-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;

// Colors
$white: #fefefe;

$blue: #55b0f2;
$dark-blue: #2a4154;
$light-blue: #6dc7f5;

$gray: #73819c;
$light-gray: #dcd1d4;


// Others
$default-radius: 3px;
