<div class="fullscreen-container">
  <div class="card">
    <h2 class="card__title"><%= t(:login) %></h2>

    <% if alert %>
      <p class="card__error"><%= alert %></p>
    <% end %>

    <%= react_component("LoginForm", {
          csrf_token: form_authenticity_token,
          action: user_session_path,
          submitText: t(:login),
          children: {
            email: {
              label: User.human_attribute_name("email")
            },
            password: {
              label: User.human_attribute_name("password")
            }
          }
        }, { prerender: true })
    %>
  </div>
</div>
