

<div class="fullscreen-container">
  <div class="card">
    <h2>Log in</h2>
    <%= react_component("LoginForm", {
          action: user_session_path,
          children: {
            email: {
              id: "user_email",
              type: "email",
              name: "user[email]",
              label: User.human_attribute_name("email")
            },
            password: {
              id: "user_password",
              type: "password",
              name: "user[password]",
              label: User.human_attribute_name("password")
            }
          }
        })
    %>
  </div>
</div>

