.form {

  &__field {
    margin-bottom: em(30px);
  }

  &__label,
  &__control {
    display: block;
  }

  &__label {
    color: $light-gray;
    font-size: em(12px);
    font-weight: $bold-weight;
    text-transform: uppercase;
  }

  &__control {
    @include appearance(none);

    padding: em(10px) 0;
    width: 100%;
    font-size: em(14px);
    font-weight: $bold-weight;
    color: $gray;
    border-radius: $default-radius;
    background-color: $white;
    border-width: 0 0 1px;
    border-bottom-color: $light-gray;

    &:invalid {
      color: $light-red;
      border-bottom-color: $light-red;
    }
  }
}
