.timeline {
  padding: em(20px);
  margin: em(20px) 0;
  background-color: $white;
  border-radius: $default-radius;

  &__title {
    margin: 0;
    font-size: em(20px);
    color: $gray;
  }

  &__tweets {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
